#icons {
  display: flex;
  flex-direction: column;
  background-color: #034578 ;
  flex: 1;
  gap: 30px;
  border-right: 10px #7bc2f8 double;
  width: 10% !important;
  height: 100vh;
  /* position: sticky; */
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  left:0;
 
}
#news {
  /* border: 3px solid black; */
  /* border-bottom: none; */
  flex: 2.5;
  max-width: 30%;
  /* text-align: center;
  height: fit-content; */
  
}
.news-box{
  /* height:10%; */
  border-Style:double;
  /* height: 14%; */
  border: 9px #034578 double;
}
.news-title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7bc2f8;
  
}
.news-feed{
  border: 4px darkgrey solid;
  margin: 5%;
  box-shadow: 10px 15px 10px #034578;
  border-radius: 7px;

}
/* .iconSize {
  height: 100px;
} */
#mainBodyHomePage {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-left: 14% !important;
  gap: 1.4%;
  /* margin-left: 10%; */
}
#allContent {
  /* border: 3px solid red; */
  flex: 6.5;
  width: 90%;
  /* margin-left: 10%; */
}
.flex {
  display: flex;
}
input {
  appearance: none;
  outline: none !important;
  border: 0;
  outline: 0;
  font-size: 40px;
}

/* BUTTONS */
.button3 {
  background-color: #7bc2f8;
  border-style: double;
  border-color: black 4px;
  border-width: 6px;
  height: 32px;
  width: 18.5%;
  text-align: center;
  margin: 10px;
  margin-left: 30px;
  color: black;
  border-radius: 4px;
}
.button3:hover {
  color: #000000;
  background-color: #034578 ;
  width: 18.5%;
  max-height: 32px;
  text-align: center;
}
.but-del {
  background-color: rgb(253, 49, 49);
  border-style: double;
  border-color: black 4px;
  border-width: 6px;
  width: 18.5%;
  height: 32px;
  border-radius: 4px;
  cursor: crosshair;
  text-align: center;
  margin-left: 30px;
}
.but-del:hover {
  color: rgb(247, 126, 126);
  background-color: rgb(214, 4, 4);
  border-radius: 4px;

}
.button-10 {
  background-image: linear-gradient(#7bc2f8, #045292);
  border: 1px solid #888888;
  color: #f8f8fa;
  cursor: grab;
  text-align: center;
 
}
.button-10:hover {
  background-image: linear-gradient(#045292, #7bc2f8);
  border-color: #1482d0;
  text-decoration: none;
}
