#icons {
  display: flex;
  flex-direction: column;
  background-color: #034578 ;
  flex: 1;
  gap: 30px;
  /* border-right: 10px #7bc2f8 double; */
  /* min-width: 12vw; */
  width: 12vw !important;
  height: 100vh;
  /* position: sticky; */
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  padding-right: 2rem;
  left:0;
 
}
#news {
  /* border: 3px solid black; */
  /* border-bottom: none; */
  flex: 2.5;
  max-width: 30%;
  padding-bottom: 1rem;
  /* text-align: center;
  height: fit-content; */
  
}
.news-box{
  /* height:10%; */
  /* height: 14%; */
  border-radius: 1rem;
  margin-bottom: .5rem;
}
.news-title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #034578 ;
  border-radius:.6rem .6rem 0px 0px ;
  text-align: center;
  /* box-shadow: 2px 5px 10px #5397cb; */
  padding: .5rem;

  
}
.news-feed{
  margin: 5%;
  margin-top: 15%;
  /* background-color: lightgray; */
  /* box-shadow: 5px 15px 10px #5397cb; */
  border-radius: 4px;
  text-align: center;
  position:relative;
  top:-5px;

}

#mainBodyHomePage {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-left: 17vw !important;
  gap: 1.4%;
}
#allContent {
  flex: 6.5;
  width: 50vw;
}

input {
  appearance: none;
  outline: none !important;
  border: 0;
  outline: 0;
  font-size: 40px;
}

/* BUTTONS */
.button3 {
  background-color: #7bc2f8;
  border-style: double;
  border-color: black 4px;
  border-width: 6px;
  height: 32px;
  width: 18.5%;
  text-align: center;
  margin: 10px;
  margin-left: 30px;
  color: black;
  border-radius: 4px;
}
.button3:hover {
  color: #000000;
  background-color: #034578 ;
  width: 18.5%;
  max-height: 32px;
  text-align: center;
}
.but-del {
  background-color: rgb(253, 49, 49);
  border-style: double;
  border-color: black 4px;
  border-width: 6px;
  width: 18.5%;
  height: 32px;
  border-radius: 4px;
  cursor: crosshair;
  text-align: center;
  margin-left: 30px;
}
.but-del:hover {
  color: rgb(247, 126, 126);
  background-color: rgb(214, 4, 4);
  border-radius: 4px;

}
.button-10 {
  background-image: linear-gradient(#7bc2f8, #045292);
  border: 1px solid #888888;
  color: #f8f8fa;
  cursor: grab;
  text-align: center;
 
}
.button-10:hover {
  background-image: linear-gradient(#045292, #7bc2f8);
  border-color: #1482d0;
  text-decoration: none;
}
