#profilePage {
  display: flex;
}
#profilePageUser {
  flex: 6.5;
}
.flex {
  display: flex;
}
#profilePageHeader {
  display: flex;
}
#tempImage {
  height: 250px;
  background-color: #7bc2f8;
  border: 4px solid grey;
}
#userPic {
  position: relative;
  left: 0px;
  top: -60px;
}
#bottomOfPicture {
  display: flex;
  justify-content: space-between;
}

