
#profilePageHeader {
  display: flex;
}
#tempImage {
  height: 250px;
  background-color: #a2cdfe;
  border: 4px solid grey;
  border-radius: 4px;
}
#userPic {
  position: relative;
  left: 0px;
  top: -60px;
}
#bottomOfPicture {
  display: flex;
  justify-content: space-between;
}

