#accountDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 20px;
  padding-top: 15px;
}
